@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@300&display=swap');

:root {
    --primary-color: #000;
    --secondary-color: #ACACB2;
    --tertiary-color: #7B8482;
    --alternate-color: #fff;
    --desktop-container: 80%;
    --mobile-container: 90%;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.75;
    background-color: var(--primary-color);
}

.container {
    margin: 0 auto;
    width: var(--desktop-container);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

a {
    color: var(--secondary-color);
    transition: var(--transition);
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: var(--tertiary-color);
}

h1, h2, h3, h4, p {
    color: var(--secondary-color);
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 4rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
    font-family: 'Montserrat', sans-serif;
}

h3, h4, p {
    font-family: 'Manrope', sans-serif;
}

#navbar2, #menu-btn {
    display: none;
}

html, body {
    width: auto!important; overflow-x: hidden!important
} 

.btn {
    padding: 5px 20px;
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);    
    cursor: pointer;
    transition: var(--transition); 
    text-transform: uppercase;  
}


.btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);  
}
/* END OF GENERAL STYLING */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo {
    font-size: 1.5rem;
}
/* END OF HEADER STYLING */

section[id="home"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 30%)
    minmax(min-content, 70%);
    place-items: end;
}

article[class="banner"] button {
    margin: 1rem auto;
}
/* END OF HOME STYLING */

section[id="services"] li {
    color: var(--secondary-color);
    list-style: initial;
}
